a {
  text-decoration: none;
}

.navbar_container {
  position: relative;
  z-index: 999;
  padding-block: 1.5rem;
}

@media screen and (max-width: 600px) {
  .navbar_container {
    padding-block: 1rem;
  }
}

.navbar_container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.navbar_icon {
  font-size: 1.5rem;
}

nav {
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_span {
  color: #5651e5;
}

.brand_logo a {
  font-size: 1.3rem;
  color: var(--dark-green);
  font-weight: 600;
}

.navbar_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .navbar_ul {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    font-size: 1.1rem;
    background: var(--dark-green);
    padding-top: 6rem;
    min-height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform ease-in-out 200ms;
    transition: -webkit-transform ease-in-out 200ms;
    transition: transform ease-in-out 200ms;
    transition: transform ease-in-out 200ms, -webkit-transform ease-in-out 200ms;
  }
}

.navbar_ul .login {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar_ul .login {
    display: block;
    color: whitesmoke;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .navbar_ul .login:hover {
    color: #42b676;
  }
}

.navbar_ul .mobile_close {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar_ul .mobile_close {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    padding: 0.3rem;
    font-size: 1.6rem;
    color: white;
  }
}

.ul_active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navlink a {
  color: #707070;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

@media screen and (max-width: 600px) {
  .navlink a {
    color: whitesmoke;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

.navlink a:hover {
  color: var(--dark-green);
}

@media screen and (max-width: 600px) {
  .navlink a:hover {
    color: #42b676;
  }
}

.active {
  color: var(--dark-green) !important;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .active {
    color: #42b676 !important;
  }
}

.login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .login_container {
    display: none;
  }
}

.login_container:hover svg {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.login_container a {
  color: var(--dark-green);
  font-weight: 500;
}

.login_container svg {
  font-size: 1.3rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.mobile_menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile_menu {
    display: block;
    font-size: 1.4rem;
    color: whitesmoke;
    cursor: pointer;
    padding: 0.3rem;
  }
}
/*# sourceMappingURL=Navbar.module.css.map */